<!DOCTYPE HTML>
<!--
	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    {{ partialCached "ga.html" . }}
    <title>{{ .Site.Title }}{{ block "subtitle" . }}{{ end }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relURL }}"/>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            {{ block "header" . }}
            {{ end }}

            {{ block "main" . }}
            <section>
                <div class="posts">
                    {{ range .Pages }}
                    <article>
                        <a href="{{ .Permalink }}" class="image"><img src="{{ .Section | relURL}}/{{ .Params.Image }}" alt=""/></a>
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Summary }}</p>
                        <ul class="actions">
                            <li><a href="{{ .Permalink }}" class="button">More</a></li>
                        </ul>
                    </article>
                    {{ end }}
                </div>
            </section>
            {{ end }}

        </div>
    </div>

    <!-- Sidebar -->
    {{ partialCached "sidebar.html" . }}
</div>

<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | relURL }}"></script>
<script src="{{ "assets/js/browser.min.js" | relURL }}"></script>
<script src="{{ "assets/js/breakpoints.min.js" | relURL }}"></script>
<script src="{{ "assets/js/util.js" | relURL }}"></script>
<script src="{{ "assets/js/main.js" | relURL }}"></script>

</body>
</html>
