{{ define "header" }}
<section id="banner">
    <div class="content">
        <header>
            <h1>Food recipes</h1>
        </header>
        <p>
            A collection of recipes which I like and prepare on a regular basis.
            All recipes are easy to follow with only the basic directions you need.
            Some of them come from my family and friends but the majority are from the following
            online sources:
        </p>
        <ul class="icons">
            <li><a href="https://www.bbc.com/food/recipes">bbc.com</a></li>
            <li><a href="https://www.ah.nl/allerhande/">ah.nl</a></li>
            <li><a href="https://www.allrecipes.com/">allrecipes.com</a></li>
        </ul>
    </div>
    <div class="image object">
        <img src="{{ "images/banner.jpg" | relURL }}" alt=""/>
    </div>
</section>
{{ end }}

{{ define "main" }}
<section>
    <header class="major">
        <h2>Latest</h2>
    </header>

    {{ range .Pages | first 1 }}
    <span class="image right">
        <a href="{{ .Permalink }}" class="image"><img src="{{ .Section | relURL}}/{{ .Params.Image }}" alt=""/></a>
    </span>
    <h2><a href="{{ .Permalink }}" class="image">{{ .Title }}</a></h2>

    {{ range where .Site.Sections "Name" .CurrentSection.Name}}
    <a href="{{ .Permalink }}" class="button primary">
        {{ .Title }}
    </a>
    {{ end }}

    <p>
        {{ .Content }}
    </p>

    {{ end }}
</section>
{{ end }}
