{{ define "subtitle" }}: {{ .Title }}{{ end }}

{{ define "header" }}
<section id="banner">
    <div class="content">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
    </div>
</section>
{{ end }}