<div id="sidebar">
    <div class="inner">

        <nav id="menu">
            <header class="major">
                <h2><a href="{{ .Site.BaseURL }}">&laquo; Home</a></h2>
            </header>
            <ul>
                {{ range .Site.Sections.ByWeight }}
                <li>
                    <a href="{{ .Permalink }}">
                        <img src="{{ printf "images/%s" .Params.Icon | relURL }}" class="icon"/>
                        {{ .Title }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>

        <footer id="footer">
            <p class="copyright">
                <a href="https://gitlab.com/kasabov/pages/tree/master/food">GitLab</a>
                &middot; <a href="https://gohugo.io/">Hugo</a>
                &middot; <a href="https://html5up.net/editorial">HTML5 UP</a>
                <br/>
                <a href="https://unsplash.com">Unsplash</a>
                &middot; <a href="https://thenounproject.com/mintdesigns/collection/food/">Noun Project</a>
                <br/>Last update: {{ now.Format "2006-01-02 15:04" }}
            </p>
        </footer>
    </div>
</div>